apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: simple-ci-demo
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/Nova-Gear/simple-ci-cd-demo.git
    targetRevision: main
    path: k8s

  destination:
    server: https://kubernetes.default.svc
    namespace: default

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
